<!DOCTYPE html>
<html>
  <head>
    <title>Tubuyakitaro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div class="header">
            <%= render "shared/header"%>
          </div>
          <div class = "container">          
      <div class="sidebar">
        <%= render "shared/sidebar"%>
      </div>
      <div class="main">
        <%= yield %>
      </div></div>
        <div class="footer">
        <%= render "shared/footer" %>
        </div>
  </body>
</html>
